#container1.arrow
header#home
  nav

    a(href='#about-me') About Me
	a(href='/#Skills') Skills
    a(href='#Experenice') Experience
    a(href='#Blog') Blog
    a(href='#Details') Contact Me


  h1
    span Rafał Sadowski
  p.kicker Games Developer // Graphics Programmer // Software Engineer
