<section>
    <h2 id="about-me">About Myself</h2><hr class="bar"/>
    <div class="about-lock">
        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="blurb">
        <p>  I'm an ordinary geek, with an extraordinary creativity. Huge games development nerd. Beside studies and my job, at this moment, I'm very intrested in real-time 3D graphics programming. I love playing games and sometimes, I make a try to create my own one. When I want to fight my computer addiction, I play baskettbal. You can call my hobbys a cliché: just watching movies, listening music and hanging out with my friends.</p></p>
    </div>
    <div class="skill-lock"></div>
</section>