<section class="section-skills">
    <h2 id="Skills">Skills</h2><hr class="bar"/>
    <div class="grid-block">
       
         <ul class="list-unstyled list-skills">

            <li>

                <span class="caption-skill">HTML</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 100%">
                        <span>100% </span>
                    </div>
                </div>

            </li>

            <li>

                <span class="caption-skill">Bootstrap</span>
                                
                                
                <div class="progress">
                    <div class="progress-bar" style="width: 90%">
                        <span>90% </span>
                    </div>
                </div>

            </li>

            <li>

                <span class="caption-skill">JavaScript</span>
                                
                                
                <div class="progress">
                    <div class="progress-bar" style="width: 70%">
                        <span>70% </span>
                    </div>
                </div>

            </li>

            <li>

                <span class="caption-skill">AngularJS</span>
                                
                                
                <div class="progress">
                    <div class="progress-bar" style="width: 70%">
                        <span>70% </span>
                    </div>
                </div>

            </li>

            <li>

                <span class="caption-skill">Java/Java EE</span>
                                
                                
                <div class="progress">
                    <div class="progress-bar" style="width: 90%">
                        <span>90% </span>
                    </div>
                </div>

            </li>

        </ul>
    </div>
    <h2 ></h2>
    <div class="skill-lock"></div>
</section>