---
layout: default
---

{% include header_small.html %}



<h2 id="Blog"> Projects</h2>
<hr class="bar-blog"> </hr>
<div class="project-container">
  {% for post in site.categories['project'] %}
	<div class="project-post "onclick="location.href='{{post.url}}'">
     <p class="project-title">{{ post.title }}</p>
     <p class="project-meta">{{post.tags}}</p>
     <img src="{{post.featured_image}}" alt="Project img" style="display:block; width:304px;height:228px; margin-left:auto; margin-right:auto;">
	</div >

  {% endfor %}
  </div>
  <div class="project-container">
  <hr class="bar-blog"> </hr>


</div>
{% include footer_small.html %}
